
<!DOCTYPE html>
<html lang="en" ng-app="GriftrApp">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Griftr</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="stylesheets/animate.css/animate.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">

    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Griftr</a>
      <ul class="right hide-on-med-and-down">
        <% if (user) { %>
          <li><a target="_self" href="/auth/logout" class="glyphicon glyphicon-home">&nbsp;Logout</a></li>
        <% } else { %>
          <li><a target="_self" href="/auth/twitter" class="glyphicon glyphicon-home">&nbsp;Login</a></li>
        <% } %>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <% if (user) { %>
          <li><a target="_self" href="/auth/logout"><i class="glyphicon glyphicon-home">&nbsp;Logout</i></a></li>
        <% } else { %>
          <li><a target="_self" href="/auth/twitter"><i class="glyphicon glyphicon-home">&nbsp;Login</i></a></li>
        <% } %>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

<%# end of navbar%>

<div class="half left center" id="left-img">
  <img id="left-banner" class="img" src="https://pbs.twimg.com/profile_images/378800000397127630/3c7dfe9f2943408ca178dede7c6ec39a.jpeg">
  <div id="find-place" class="find">
    <h3>find a place to stay</h3>
  </div>
</div>


<h1 id="intro">Going out of town?</h1>


<div class="half right-col center" id="right-img">
  <img id="right-banner" class="img" src="http://cdn.humble-homes.com/wp-content/uploads/2012/10/73.jpg">
  <%# need to reduce initial height if this image and have it resolve to total on animate%>
  <div id="find-peace" class="find">
    <h3>find peace of mind</h3>
  </div>
</div>



  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Griftr</h1>
      <div class="row center">
        <ui-view></ui-view>
      </div>
      <br><br>
    </div>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="/packages/jquery/dist/jquery.min.js"></script>
  <script src="/packages/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/packages/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/packages/materialize/materialize.min.js"></script>
  <script src="/packages/lettering.js/jquery.lettering-0.6.1.min.js"></script>
  <script src="/packages/textillate.js"></script>
  <script src="/packages/angular/angular.min.js"></script>
  <script src="/packages/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src='/javascripts/materialize.min.js'></script>
  <script src='/javascripts/materialize-init.js'></script>
  <script src='/javascripts/bundle.js'></script>

  </body>
</html>
