<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
  <script src="/packages/jquery/dist/jquery.min.js"></script>
  <script src="/packages/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/packages/lodash/lodash.min.js"></script>
  <script src="/packages/angular/angular.min.js"></script>
  <script src="/packages/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src='/javascripts/bundle.js'></script>
</html>
