
<div class="container">
      <div class="row">
        <h1>HOUSES</h1>
<input type="text" name="name" value="" placeholder="Search Homes" ng-model= "search">
        <div class="col s4" ng-repeat='house in houses | filter:search' >
          <div class="card">
            <div class="card-image">
              <img ng-src="{{house.image}}">
              <span class="card-title">{{house.location}}</span>
            </div>
            <div class="card-content">
              <div>Bedrooms: {{house.squareFoot}}</div>
              <div>Bedrooms: {{house.bedrooms}}</div>
              <div>Bathrooms: {{house.bathrooms}}</div>
              <div>Start Date: {{house.startDate}}</div>
              <div>End Date: {{house.endDate}}</div>
              <div>Id: {{house._id}}</div>
            </div>
            <div class="card-action">
              <a ui-sref="listing({houseId: house._id})">This is a link</a>
            </div>
          </div>
        </div>
      </div>


</div>
