<div class="container">
    <div class="row">
      <h1>GRIFTRRRSSSS</h1>
      <div class="col s4" ng-repeat='traveller in travellers track by $index' >
        <div class="card">
          <div class="card-image">
            <img ng-src="{{traveller.image}}">
            <span class="card-title">{{traveller.traveller.firstName}} {{traveller.traveller.lastName}}</span>
          </div>
          <div class="card-content">
            <div>Twitter: {{traveller.twitter.username}}</div>
            <div>Email: {{traveller.traveller.email}}</div>
          </div>
          <div class="card-action">
            <a >Select Griftr</a>
          </div>
        </div>
      </div>
    </div>
</div>
