/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
img {
  border-bottom: 10px solid azure;
  line-height: 10px;
  display: block !important;
}
body {
  margin: 0;
  background-color: black;
}
.intro {
  position: relative;
  margin-bottom: 100px;
}

/*#right-banner {
  position: relative;
  z-index: -1;
}*/
.banner {
  position: relative;
  z-index: -1;
}
div#find-peace {
  margin-top: -300px;
  display: none;
  color: black;
}

div#find-place {
  margin-top: -300px;
  display: none;
  color: azure;
}
.parallax-container {
    height: 578px;
  }

.find {
  -webkit-animation-duration: 1s;
  cursor: pointer;
  position: relative;
  top: -150px;
}
